<!DOCTYPE html>
<html lang="en">

	<%- include('../admin-partials/head.ejs') %> 

    <body class="sb-nav-fixed">
        <%- include('../admin-partials/topbar.ejs')  %> 
        <div id="layoutSidenav">
			<%- include('../admin-partials/menu.ejs')  %> 
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h2 class="mt-30 page-title">Posts</h2>
                        <ol class="breadcrumb mb-30">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/posts">Posts</a></li>
                            <li class="breadcrumb-item active">Tags</li>
                        </ol>
                        <div class="row">
							<div class="col-lg-4 col-md-5">
								<form action="/admin/post-tags" method="post" autocomplete="off">
									<div class="card card-static-2 mb-30">
										<div class="card-title-2">
											<h4>Add New Tag</h4>
										</div>
										<div class="card-body-table">
											<div class="news-content-right pd-20">
												<div class="form-group">
													<label class="form-label">Name*</label>
													<input type="text" name="tag" class="form-control" placeholder="Category Name">
												</div>
												<div class="form-group mb-0">
													<label class="form-label">Slug*</label>
													<input type="text" name="slug" class="form-control" placeholder="Category Slug">
												</div>
												<button class="save-btn hover-btn" type="submit">Add New</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="all-cate-tags">
									<div class="row justify-content-between">
										<div class="col-lg-4 col-md-5">
											<div class="bulk-section mb-30">
												<div class="input-group">
													<select id="action" name="action" class="form-control">
														<option selected>Bulk Actions</option>
														<option value="1">Publish</option>
														<option value="2">Move to Draft</option>
														<option value="3">Delete</option>
													</select>
													<div class="input-group-append">
														<button class="status-btn hover-btn" type="submit">Apply</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-5 col-md-7">
											<div class="bulk-section text-left mb-30">
												<div class="search-by-name-input mr-0">
													<input type="text" class="form-control" placeholder="Search by Category">
												</div>
												<button class="status-btn hover-btn" type="submit">Search Category</button>
											</div>
										</div>
										<div class="col-lg-12 col-md-12">
											<div class="card card-static-2 mb-30">
												<div class="card-title-2">
													<h4>All Tags</h4>
												</div>
												<div class="card-body-table">
													<div class="table-responsive">
														<table class="table ucp-table table-hover">
															<thead>
																<tr>
																	<th style="width:60px"><input type="checkbox" class="check-all"></th>
																	<th scope="col">Name</th>
																	<th scope="col">Slug</th>
																	<th scope="col">Date</th>
																</tr>
															</thead>
															<tbody>
															<% for(var i=0;i<=tags.length-1;i++) {%> 

																<tr>
																	<td><input type="checkbox" class="check-item" name="ids[]" value="5"></td>
																	<td>
																		<%= tags[i].tag %> 
																	</td>
																	<td><%= tags[i].slug %></td>
																	<td>
																		<span class="delivery-time"><%= tags[i].createdAt.toString().substring(0,15) %></span>
																	</td>
																</tr>
															<% } %> 
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-footer mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted-1">© 2020 <b>Gambo Supermarket</b>. by <a href="https://themeforest.net/user/gambolthemes">Gambolthemes</a></div>
                            <div class="footer-links">
                                <a href="../gambo_supermarket_demo/privacy_policy.html">Privacy Policy</a>
                                <a href="../gambo_supermarket_demo/term_and_conditions.html">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
		
		<!-- Javascripts -->
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
		
    </body>

<!-- Mirrored from gambolthemes.net/html-items/gambo_admin/post_tags.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 05 Jun 2020 23:09:12 GMT -->
</html>
